@{
    ViewData["Title"] = "Template";
}

@section styles{

<environment names="Development,Production,Staging">
    <link rel="stylesheet" href="~/dist/css/template/main.css" asp-append-version="true" />
</environment>
<link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet">
}

@section scripts{

    <environment names="Development,Production,Staging">
        <script src="~/dist/js/template/bundle.js" asp-append-version="true"></script>
    </environment>

}

<div id="app">

</div>